/* From Uiverse.io by Yaya12085 */
.login {
  min-height: 100vh;
  width: 100%;
  //   background-color: var(--txtgrey-color);

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  .frm {
    min-height: 90vh;
  }
  .title {
    font-size: 28px;
    color: var(--main-color);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-family: boldd;
  }

  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--main-color);
  }
  .imgg {
    height: 100% !important;
  }
  .title::before {
    width: 18px;
    height: 18px;
    background-color: var(--main-color);
  }

  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }

  .message,
  .signin {
    color: #131212;
    font-size: 14px;
    font-family: mediam;
    font-weight: 700;
  }

  .signin {
    text-align: center;
  }

  .signin a {
    color: var(--main-color);
  }

  .signin a:hover {
    text-decoration: underline var(--main-color);
  }

  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }

  .form label {
    position: relative;
  }

  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: none !important;
    border-radius: 10px;
    background-color: #f9f7f7;
    // direction: rtl;
  }

  .form label .input + span {
    position: absolute;
    right: 10px;
    top: 15px;
    color: #bcbcbc;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
    font-family: mediam;
  }
  .spann {
    position: absolute;
    right: 10px;
    top: 25px;
    color: #bcbcbc;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
    font-family: mediam;
    display: flex;
    gap: 10px;
    align-items: center;
    svg {
      color: #d235344a;
      font-size: 18px;
    }
  }
  .h50 {
    height: 50px;
  }

  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }

  .form label .input:focus + span,
  .form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }

  .form label .input:valid + span {
    color: var(--main-color);
  }
  .custum-file-upload input {
    display: none;
  }
  .submit {
    border: none;
    outline: none;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: 0.3s ease;
    font-family: boldd;
  }

  .submit:hover {
    background-color: #742c2b;
  }

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }

    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
}
.logform {
  width: 75% !important;
}

@media screen and (max-width: 768px) {
  .logform {
    width: 100% !important;
  }
}
.lock {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  animation: translateY 7s infinite;
  -webkit-animation: translateY 7s infinite;
}
.lightbg {
  background-color: #f9f7f7;
}
@keyframes translateY {
  0%,
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }

  50% {
    transform: translateY(60px);
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
  }
}
